# Ignore everything
*

# But not these files...
!.gitignore

!/.mutt/
!/.mutt/neomuttrc
!/.mutt/mailcap
!/.mutt/accounts/
!/.mutt/accounts/template/
!/.mutt/accounts/template/*

!.vimrc
!/.vim
!.zshrc
!.bashrc
!.tmux.conf

!.jupyter/
!.jupyter/jupyter_qtconsole_config.py
!.jupyter/jupyter_console_config.py

.Rproj.user
